@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*{
    font-family: 'Manrope', sans-serif;
    color: hsl(217, 19%, 35%);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(210, 46%, 95%);
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: white;

    width: 330px;
    height: 485px;
    border-radius: 10px;
    overflow: hidden;

    .bg-container{
        width: 100%;
        height: 200px;
        background-image: url(images/drawers.jpg);
        background-size: 330px 245px;
        background-repeat: no-repeat;
        background-position: top;
        
    }
    .text-area{
        padding: 30px 35px;

        h1{
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: 15px;
        }
        .paragraph{
            font-size: .82rem;
        }
    }
    .profile-area{
        display: flex;
        padding: 0px 35px;
        justify-content: space-between;
        align-items: center;

        .profile{
            display: flex;
            flex-direction: row;
            align-items: center;

            .profile-picture{
                width: 38px;
                height: 38px;
                border-radius: 50%;
            }
            .pf-names{
                display: flex;
                flex-direction: column;
                margin-left: 15px;

                h2{
                    font-size: .7rem;
                    font-weight: 700;
                    margin-bottom: 2px;
                }
                .date{
                    font-size: .65rem;
                    font-weight: 500;
                }
            }

        }
        .share-icon{
            width: 26px;
            height: 26px;
            object-fit: contain;
            padding: 5px;
            border-radius: 50%;
            background-color: hsl(210, 46%, 95%);
            cursor: pointer;

            z-index: 10;
        }
    }

    .active-state{
        display: flex;
        align-items: center;
        width: 330px;
        height: 50px;
        position: relative;
        top: 425px;
        right: 330px;
        border-radius: 0px 0px 10px 10px;
        padding: 0px 35px;
        background-color: hsl(217, 19%, 35%);
        z-index: 1;
        padding: 30px;
        transition: opacity .3s;
        opacity: 0;

        h3{
            font-size: .8rem;
            font-weight: 500;
            color: hsl(212, 23%, 69%);

            letter-spacing: 3px;
            margin-bottom: 10px;
        }
        .social-medias{
            display: flex;
            margin: 0px 0px 10px 20px;

            .m-icon{
                width: 20px;
                margin-right: 15px;
            }
        }
    }
}

@media (min-width:768px) {

    main{
        display: flex;
        flex-direction: row;
        background-color: white;
        width: 650px;
        height: 255px;
        border-radius: 10px;
        overflow: unset;
    
        .bg-container{
            width: 250px;
            height: 255px;
            background-image: url(images/drawers.jpg);
            background-size: 300px 255px;
            background-repeat: no-repeat;
            background-position: top left;
            border-radius: 10px 0px 0px 10px;
            
        }
        .text-area{
            width: 400px;
    
            h1{
                font-size: 1.1rem;
            }
            .paragraph{
                font-size: .75rem;
            }
        }
        .profile-area{
            position: relative;
            bottom: 65px;
            left: 250px;
            width: 60%;

            .share-icon{
                width: 26px;
                height: 26px;
    
                padding: 5px;
                border-radius: 50%;
                background-color: hsl(210, 46%, 95%);
                cursor: pointer;
    
                z-index: 10;
            }
        }
    
        .active-state{
            display: flex;
            align-items: center;
            width: 185px;
            height: 25px;
            position: relative;
            bottom: 120px;
            top: unset;
            right: unset;
            left: 100px;
            border-radius: 10px;
            padding: 0px 35px;
            background-color: hsl(217, 19%, 35%);
            z-index: 3;
            padding: 20px;
            opacity: 0;
    
            h3{
                font-size: .7rem;
                margin-bottom: 0px;
            }
            .social-medias{
                display: flex;
                margin: 0px 0px 0px 20px;
                z-index: 2;
    
                .m-icon{
                    width: 16px;
                    margin-right: 12px;
                }
            }
            .arrow-detail{
                width: 20px;
                height: 18px;
                background-color: hsl(217, 19%, 35%);
                position: relative;
                top: 18px;
                right: 85px;
                padding: 7px;
                rotate: 135deg;
                z-index: 1;
            }
        }
    }
}